body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;



}

ul {
    list-style-type: none;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}



img {
    width: 400px;
}

p {
    flex-wrap: wrap;
}

button {
    padding: 8px 16px;
    background: royalblue;
    color: white;
    font-weight: bold;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    width: 400px;
    color: white;
}

.section-1 {
    background: #1F2937;
    padding-bottom: 16px;

}
header > h2 {
    color: white;

}